.card {
  position: relative;
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  justify-content: center;

  border: solid 3px black;
  margin: 20px;
}

.card__delete {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  top: 10px;
  right: 10px;
  border-radius: 50%;
}
.card__hexcode {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: lightgrey;
  width: 120px;
  border-radius: 10px;
  height: 40px;
  font-size: 16px;
}

/* Versteckter Button hinter dem Colorcoude */
.coloreditor {
  width: 100%;
  position: absolute;
  opacity: 0%;
}

.editform {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
