.card{
width: 150px;
height: 150px;
    background-color: lightgray; 
display: flex;
flex-direction: column;
margin: auto;
align-items: center;
justify-content: center;
border-radius: 20px;
border: solid 3px black;
margin: 20px;

}
.card__container{
    margin: auto;
    display: flex;
    background-color: lightgrey;
    justify-content: center;
    flex-wrap: wrap;
}
.card__hexcode{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 30px;
   
    background-color: lightgrey;

}