.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 150px;
    margin: 20px auto 20px auto;
    background-color: lightgray;
    border: solid 3px black;
    gap: 5px;
    border-radius: 20px;
    padding: 10px;
}

