.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 150px;
    background-color: lightgray;
    border: solid 1px black;
}